<label class="btn" for="toggle">Menu</label>
<input id="toggle" type="checkbox" />

<nav class="nav">
  <div class="container">
    <ul id="nav">
      <li <%= nav_selected('blog_tokyo') %> ><a href="#">Tokyo</a></li>
      <li <%= nav_selected('blog_nikko') %> ><a href="#">Nikko</a></li>
      <li <%= nav_selected('blog_matsumoto') %> ><a href="#">Matsumoto</a></li>
      <li <%= nav_selected('blog_takayama') %> ><a href="#">Takayama</a></li>
      <li <%= nav_selected('blog_kyoto') %> ><a href="#">Kyoto</a></li>
      <li <%= nav_selected('blog_nara') %> ><a href="#">Nara</a></li>
      <li <%= nav_selected('blog_osaka') %> ><a href="#">Osaka</a></li>
      <li <%= nav_selected('blog_mt_koya') %> ><a href="#">Mt. Koya</a></li>
      <li <%= nav_selected('blog_hiroshima') %> ><a href="#">Hiroshima</a></li>
      <li <%= nav_selected('blog_miyajima_island') %> ><a href="#">Miyajima Island</a></li>
      <li id="close"><label for="toggle">Close</label></li>
    </ul>
  </div>
</nav>
